#auth-root {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;

  background-image: url(/assets/website/background.png);
  background-size: cover;
  background-position: center;

  overflow: hidden;

  @apply flex flex-col justify-center items-center;
}

.website-background {
  position: absolute;
  width: 300vw;
  height: 200vh;

  top: 0;
  left: -100vw;
  z-index: -1;

  background: rgba(43, 43, 43, 0.95);
  filter: blur(250px);
}

.additional-background {
  @apply absolute h-full w-full;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(7px);
}

.auth-container {
    @apply w-11/12 relative z-10 max-w-[300px];
}