<div class="container">
  <img [src]="item | storeOrGame" alt="" />
  <div class="content">
    <h4>{{ item | itemTitle }}</h4>

    <div class="chip-container">
      <div class="chip">
        {{ item.type }}
      </div>
    </div>

    <p>{{ item.description }}</p>

    <h3 class="mt-auto">{{ item.price }}$</h3>

    <div class="games" *ngIf="item.type === itemTypes.account">
      <img
        *ngFor="let game of item.games.slice(0, 3)"
        [src]="game.image"
        alt=""
      />
      <div class="more-images" *ngIf="item.games.length >= 3">
        <p>...</p>
      </div>
    </div>

    <button mat-button class="!mt-2">Add to cart</button>
  </div>
</div>
