.container {
  background: linear-gradient(
    112.08deg,
    rgba(255, 182, 182, 0.15) 27.35%,
    rgba(255, 182, 182, 0.1) 74.74%
  );
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 16px;

  min-height: 200px;
  max-height: 250px;

  cursor: pointer; 

  transition: transform 300ms ease;
  &:hover {
    transform: translateY(-10px);
  }
  &:active {
    transform: translate(-10px) scale(0.9);
    opacity: 0.7
  }

  @apply flex p-4;
}

img {
    flex: 0.5;
    border-radius: 8px;
    @apply bg-[#00000037] w-2/5 object-contain;
}

.content {
    @apply flex-1 px-6 flex flex-col;
}

.games{
    @apply mt-2 flex;
    img {
        @apply w-10 h-10 rounded-full mr-2 object-cover;
        flex: none;
    }
    
}

.chip{
  border-radius: 30px;
  
  @apply bg-[#F44336] py-1 px-2;

  display:inline-block;
  
}

.chip-container{
  @apply my-3
}