.item {
  background: linear-gradient(
    112.08deg,
    rgba(255, 182, 182, 0.15) 22.72%,
    rgba(255, 182, 182, 0.1) 70.1%
  );
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);

  border-radius: 16px;

  @apply w-full h-full;
  @apply flex;

  transition: transform 300ms ease;

  img {
    @apply w-1/4 object-contain;
    border-radius: 16px 0 0 16px;
  }
  &:active{
    transform: scale(0.9);
    opacity: 0.8;
  }
}

.content {
  @apply p-7 flex-1;
  h1 {
    @apply text-5xl;
  }
  p{
    @apply pt-5;
  }
}

.item-container {
  @apply w-full h-[50vh] flex-shrink-0 flex justify-center;
}

.buttons {
  @apply self-center mt-4;
  button {
    @apply w-[15px] h-[15px] mx-1;
    background: linear-gradient(
      112.08deg,
      rgba(255, 182, 182, 0.15) 22.72%,
      rgba(255, 182, 182, 0.1) 70.1%
    );
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);

    border-radius: 16px;
  }

  button:hover {
    background: linear-gradient(
      112.08deg,
      rgba(255, 0, 0, 0.53) 15.72%,
      rgba(255, 0, 0, 0.31) 40.1%
    );
  }

  button.selected {
    background: linear-gradient(
      112.08deg,
      rgba(255, 0, 0, 0.53) 22.72%,
      rgba(255, 0, 0, 0.31) 70.1%
    );
  }
}
