nav {
    display:flex; 
    align-items: center;
    padding: 0.5rem inherit;
    position: relative;
    z-index: 1001;

    input{
        color: white !important;
    }

    .nav-buttons{
        margin-left: 3rem;
    }

    .right {
        .cart{
            margin-right: 0.5rem;
        }
        margin-left: auto;
    }
}

.for-mobile {
    display:none;
}

.mobile-menu {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.535);
}

@media(max-width: 700px){
    .for-computer{
        display:none;
    }

    .for-mobile{
        display: block;
    }
}   