<nav>
  <mat-form-field>
    <input matInput placeholder="Search" value="" style="color: black" />
  </mat-form-field>

  <div class="nav-buttons for-computer">
    <button mat-button color="primary">Accounts</button>
    <button mat-button color="primary">Keys</button>
    <button mat-button color="primary">Other</button>
  </div>

  <div class="right for-computer">
    <button mat-icon-button color="primary" class="cart">
      <fa-icon [icon]="faCartShopping"> </fa-icon>
    </button>
    <button mat-raised-button color="primary">Login</button>
  </div>

  <div class="right for-mobile">
    <button mat-icon-button color="primary" (click)="toggleMobileMenu()">
      <fa-icon [icon]="faBars" class="text-[20px]"></fa-icon>
    </button>
  </div>
</nav>

<div class="for-mobile mobile-menu fixed w-full h-full top-0 left-0" *ngIf="displayMobileMenu">
  <div class="nav-buttons flex-col flex h-full justify-center">
    <button mat-button color="primary">Accounts</button>
    <button mat-button color="primary">Keys</button>
    <button mat-button color="primary">Other</button>
  </div>
</div>
