<nav class="contained">
  <!-- search bar -->
  <mat-form-field>
    <input matInput placeholder="Search" value="" style="color: black" />
  </mat-form-field>

  <!-- navbar buttons -->
  <div class="nav-buttons for-computer">
    <a mat-button color="primary">Accounts</a>
    <a mat-button color="primary">Keys</a>
    <a mat-button color="primary">Other</a>
  </div>

  <!-- login and cart button -->
  <div class="right for-computer">
    <a
      [routerLink]="['cart']"
      mat-icon-button
      [matBadge]="cartService.cart.length || undefined"
      color="primary"
      class="cart !mr-6"
    >
      <fa-icon [icon]="faCartShopping"> </fa-icon>
    </a>
    <a
      *ngIf="!userService.user"
      mat-raised-button
      color="primary"
      routerLink="/auth"
      >Login</a
    >
    <button
      *ngIf="userService.user"
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      Logout
    </button>
  </div>

  <!-- menu button for mobile -->
  <div class="right for-mobile">
    <button mat-icon-button color="primary" (click)="toggleMobileMenu()">
      <fa-icon
        [icon]="faBars"
        class="text-[20px]"
        *ngIf="!displayMobileMenu"
      ></fa-icon>
      <fa-icon
        [icon]="faXmark"
        class="text-[20px]"
        *ngIf="displayMobileMenu"
      ></fa-icon>
    </button>
  </div>
</nav>

<!-- menu for mobile -->
<div
  class="for-mobile mobile-menu fixed w-full h-full top-0 left-0"
  *ngIf="displayMobileMenu"
>
  <div class="nav-buttons flex-col flex h-full justify-center">
    <a mat-button color="primary">Home</a>
    <a mat-button color="primary">Accounts</a>
    <a mat-button color="primary">Keys</a>

    <div class="self-center mt-10">
      <a
        [routerLink]="['cart']"
        mat-icon-button
        [matBadge]="cartService.cart.length || undefined"
        color="primary"
        class="cart !mr-6"
      >
        <fa-icon [icon]="faCartShopping"> </fa-icon>
      </a>
      <a
        *ngIf="!userService.user"
        mat-raised-button
        color="primary"
        class="!ml-2"
        routerLink="/auth"
        >Login</a
      >
      <button
        *ngIf="userService.user"
        mat-raised-button
        color="primary"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</div>
