// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$projet-web-front-primary: mat.define-palette(mat.$indigo-palette);
$projet-web-front-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$projet-web-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projet-web-front-theme: mat.define-dark-theme(
  (
    color: (
      primary: $projet-web-front-warn,
      accent: $projet-web-front-accent,
      warn: $projet-web-front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($projet-web-front-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

// importing fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6em;
}

html {
  font-size: 15px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding:0;
  position: relative;
  z-index: 1;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  color: white;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}